<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639599143481-7g79kj8pvibda3i29580690qg0snhp14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639599143481-7g79kj8pvibda3i29580690qg0snhp14</string>
	<key>API_KEY</key>
	<string>AIzaSyCxUkvv2Nr1LfBTYQsUx21BNuKR4PMpb54</string>
	<key>GCM_SENDER_ID</key>
	<string>639599143481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.dotslab.dingo</string>
	<key>PROJECT_ID</key>
	<string>dingoprototype-e13f6</string>
	<key>STORAGE_BUCKET</key>
	<string>dingoprototype-e13f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639599143481:ios:244c0bd7cfb6b42e91bbe8</string>
	<key>DATABASE_URL</key>
	<string>https://dingoprototype-e13f6.firebaseio.com</string>
</dict>
</plist>